EditorsTeamTV/Sites/Configuration/SitesConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:EditorsTeamTV.Sites.Configuration" elementFormDefault="qualified" targetNamespace="urn:EditorsTeamTV.Sites.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="sitesConfigurationSection" type="tns:EditorsTeamTV.Sites.Configuration.SitesConfigurationSectionCT" />
	<xs:complexType name="EditorsTeamTV.Sites.Configuration.SitesConfigurationSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="kanbanize" type="tns:EditorsTeamTV.Sites.Configuration.KanbanizeCT">
				<xs:annotation>
					<xs:documentation>The kanbanize.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="simpleSite" type="tns:EditorsTeamTV.Sites.Configuration.SimpleSiteCT">
				<xs:annotation>
					<xs:documentation>The simpleSite.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EditorsTeamTV.Sites.Configuration.WebsiteCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="id" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Id.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="uri" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Uri.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="local" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Local.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EditorsTeamTV.Sites.Configuration.KanbanizeCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="website" type="tns:EditorsTeamTV.Sites.Configuration.WebsiteCT">
				<xs:annotation>
					<xs:documentation>The Website Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EditorsTeamTV.Sites.Configuration.SimpleSiteCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="website" type="tns:EditorsTeamTV.Sites.Configuration.WebsiteCT">
				<xs:annotation>
					<xs:documentation>The Website Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
