EditorsTeamTV/Scheduling/Configuration/QuartzConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:EditorsTeamTV.Scheduling.Configuration" elementFormDefault="qualified" targetNamespace="urn:EditorsTeamTV.Scheduling.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="quartzConfigurationSection" type="tns:EditorsTeamTV.Scheduling.Configuration.QuartzConfigurationSectionCT" />
	<xs:complexType name="EditorsTeamTV.Scheduling.Configuration.QuartzConfigurationSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="quartzPluginSettings" type="tns:EditorsTeamTV.Scheduling.Configuration.QuartzPluginSettingsCT">
				<xs:annotation>
					<xs:documentation>The quartzPluginSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="quartzThreadPoolSettings" type="tns:EditorsTeamTV.Scheduling.Configuration.QuartzThreadPoolSettingsCT">
				<xs:annotation>
					<xs:documentation>The quartzThreadPoolSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EditorsTeamTV.Scheduling.Configuration.QuartzPluginSettingsCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="quartzConfigurationItem" type="tns:EditorsTeamTV.Scheduling.Configuration.QuartzConfigurationItemCT">
				<xs:annotation>
					<xs:documentation>The QuartzConfigurationItem Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EditorsTeamTV.Scheduling.Configuration.QuartzThreadPoolSettingsCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="quartzConfigurationItem" type="tns:EditorsTeamTV.Scheduling.Configuration.QuartzConfigurationItemCT">
				<xs:annotation>
					<xs:documentation>The QuartzConfigurationItem Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EditorsTeamTV.Scheduling.Configuration.QuartzConfigurationItemCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
