Configuration/Examples/MySection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="MyConfig.MyHandler" elementFormDefault="qualified" targetNamespace="MyConfig.MyHandler" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="myCustomSection" type="tns:MyConfig.MyHandler.MyCustomSectionCT" />
	<xs:complexType name="MyConfig.MyHandler.MyCustomSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="element1" type="tns:MyConfig.MyHandler.MyCustomElementCT">
				<xs:annotation>
					<xs:documentation>The Element1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="elementCollection1" type="tns:MyConfig.MyHandler.MyElementsCT">
				<xs:annotation>
					<xs:documentation>The ElementCollection1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="element2" type="tns:MyConfig.MyHandler.MyCustomElementWithValueCT">
				<xs:annotation>
					<xs:documentation>The Element2.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MyConfig.MyHandler.MyCustomElementCT">
		<xs:attribute name="name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MyConfig.MyHandler.MyElementsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="myElement" type="tns:MyConfig.MyHandler.MyElementCT">
				<xs:annotation>
					<xs:documentation>The MyElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MyConfig.MyHandler.MyElementCT">
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MyConfig.MyHandler.MyCustomElementWithValueCT">
		<xs:attribute name="name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="aValue" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AValue.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
